body {
  background-color: #ffffff;
  color: #000000;
  font-size: 16px;
  line-height: 1.3;
}

nav {
  background-color: rgba(0,0,0,.5);
  float: left;
  position: fixed;
  width: 100%;
}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
  margin-top: 20px;
}

figcaption {
  font-size: 13px;
  margin-top: 10px;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

a {
  text-decoration: none;
}

a:hover { color:#000000; }

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

li a{
  color: #ffffff;
  font-size: 1.2em;
}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}

.author {
    font-size: 13px;
    margin-top: 30px;
    font-weight: bold;
}

h1 {
   font-size: 3em;
   line-height: 2;
   text-transform: capitalize;
   margin-top: 20px;
}

h3 {
   font-size: 1.3em;
   line-height: 1.3;
}

p {
  margin-top: 1em ;
  margin-bottom: 1em ;
}
